@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    user-select: none;
}

:root {
    color: #ebdbb1;
    background-color: #282828;

    font-family: "Special Elite";
}

#gameContainer {
    display: flex;
    flex-flow: column nowrap;


}

#dieContainer {
    position: relative;
    
    width: 100%;
    height: 600px;
}

#dieImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#caption {
    color: #282828;

    font-size: 50px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#controlBar {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
}

#controlBar .button {
    width: 100px;

    text-align: center;
    
    margin: 20px;
    padding: 25px 45px 20px 45px;

    font-size: 30px;

    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.5);
}

#playerContainer {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
}

#playerContainer .playerBox {
    height: 200px;

    max-width: 400px;
    
    text-align: center;
    text-anchor: middle;
    
    flex: 1 0 0;

    border-radius: 10px;
    padding-top: 60px;
    margin: 30px;

    background-color: rgba(0, 0, 0, 0.25);
}